<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Welcome{% endblock %} | Budget Categories</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <div class="page">
    <h1>Budget Categories </h1>
        <a href="{{ url_for('register') }}">Sign up</a> |
        <a href="{{ url_for('login') }}">Log in</a>
    {% with flashes = get_flashed_messages() %}
          {% if flashes %}
              <ul class="flashes">
                  {% for message in flashes %}
                      <li>{{ message }}
                  {% endfor %}
              </ul>
          {% endif %}
    {% endwith %}
          <div class="body">
              {% block body %}

              {% endblock %}
          </div>
  </div>
</html>
