<!doctype html>
<title>{% block title %}Welcome{% endblock %} | Event Hosts</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='event_style.css') }}">
<div class="page">
    <h1>Event Hosts </h1>
         <div class="navigation">
              {% if g.user %}
                  <a href="{{ url_for('event') }}">My Homepage </a> |
                  <a href="{{ url_for('all_event') }}">All Scheduled Events </a> |
                  <a href="{{ url_for('logout') }}">Log out [{{ g.user.username }}]</a>
              {% else %}
                  <a href="{{ url_for('all_event') }}">All Scheduled Events </a> |
                  <a href="{{ url_for('register') }}">Sign up</a> |
                  <a href="{{ url_for('login') }}">Log in</a>
              {% endif %}
         </div>
    {% with flashes = get_flashed_messages() %}
         {% if flashes %}
              <ul class="flashes">
                  {% for message in flashes %}
                      <li>{{ message }}
                  {% endfor %}
              </ul>
         {% endif %}
    {% endwith %}
         <div class="body">
              {% block body %}

              {% endblock %}
         </div>
</div>
